aiohttp~=3.8.4
orjson>=3.9.1
pydantic==2.2.1
python-multipart~=0.0.5
requests~=2.31.0
setuptools~=65.5.1
deprecated>=1.2.13
safetensors==0.3.2
google-cloud-storage
doc
redis
msgpack
gcloud==0.18.3
pytz
pydantic-settings
httplib2==0.15.0


aiohttp~=3.8.4
orjson>=3.9.1
pydantic==2.2.1
python-multipart~=0.0.5
requests~=2.31.0
setuptools~=65.5.1
deprecated>=1.2.13
safetensors==0.3.2
transformers==4.31.0
omegaconf
accelerate
image
diffusers
google-cloud-storage
compel==2.0.1
scipy==1.9.3
doc
redis
msgpack
gcloud==0.18.3
pytz
pydantic-settings

mediapipe==0.10.3
# https://huggingface.co/ai-forever/Real-ESRGAN
git+https://github.com/sberbank-ai/Real-ESRGAN.git

scikit-image==0.21.0
httplib2==0.15.0

